:root {
    --text-color :#252B42;
    --second-text-color: #737373;
}

nav {
    position: fixed;
    background-color: #fff;
    display: flex;
    padding: 15px 27px ;
    gap: 446px;
}

nav h2 {
    color: #252B42;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin-top: 15px;
}



.nav-ul {
    display: flex;
    margin-top: 15px;


}

.nav-li {
    display: flex; 
    list-style: none;
    gap: 21px;
}

.nav-li a {
    color: var(--second-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    transition: 0.3s;
    margin: 0 21px ;
}

.nav-li a:hover{
    color: #000;
}
